<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/stylesheets/profile.css">
  <link href="https://fonts.googleapis.com/css?family=Emilys+Candy|Open+Sans|Racing+Sans+One&display=swap" rel="stylesheet">
  <title>Profile</title>
</head>
<body id="profile-body">
  <header id="profile-header">
    <h1 id="title">oKupid</h1>
    <nav>
      <ul>

        <li><%= link_to "Match Me", match_path(@current_user) %></li>
        <li><%= link_to "Inbox", conversations_path %></li>

        <li><%= link_to "Profile", user_path(@current_user) %></li>
        <li><%= link_to "Browse", users_path %></li>
        <li><%= link_to "Log Out", "/login", method: :delete %></li>
      </ul>
    </nav>
  </header>
  <main id="profile-main">
    <div id="profile-container">
      <div id="profile-picture">
        <% if @user.picture.attached? %>
          <img class:"profile-pic" src="<%=(url_for(@user.picture))%>">
        <% else %>
          <%= image_tag 'rick.png', class:"profile-pic" %>
        <% end %>
        <div id="hello-follow">
        <% if user_path(@user) != user_path(@current_user)%> 
          <% if @user.followers.include?(@current_user) %>
            <div class="button-div">
              <%= button_to "Unfollow", "/follows/#{@user.id}", method: :delete %>
            </div> <!-- End of Unfollow button -->
          <% else %>
              <div class="button-div">
              <%= button_to "Follow", "/follows/#{@user.id}" %>
            </div> <!-- End of follow button -->
          <% end %>
          <div class="button-div">
          <%= button_to'Message', conversations_path(sender_id: @current_user.id, recipient_id: @user.id) %> 
          </div>
        <% end %>

        </div>
        <% if user_path(@user) == user_path(@current_user) %>
          <div class="button-div">
            <%= button_to "Edit Profile", edit_user_path, method: :get %>
          </div> <!-- End of follow button -->

        <% end %>
    </div>  
      <div class="bio">
        <p><b>Name:</b> <%= @user.name%></p>
        <p><b>Age:</b> <%= @user.age%></p>
        <p><b>Location:</b> <%= @user.location%></p>
        <p><b>Horoscope:</b> <%= @user.horoscope %> </p>
        <p><b>Bio:</b> <%= @user.bio%></p>
      </div>
    </div> <!-- End of bio div -->
    <hr>
    <div id="profile-wrapper">
      <% if user_path(@user) == user_path(@current_user)%>
      <div class="profile-follows">
        <h3 class="profile-h3">Followers</h3>
        <% @user.followers.each do |follower| %>
        <p><%= link_to follower.name, user_path(follower) %> </p>
        <% end %>
      </div> <!-- End of followers div -->
      <div class="profile-follows">
        <h3 class="profile-h3">Following</h3>
        <% @user.followees.each do |followee| %>
          <p><%= link_to followee.name, user_path(followee) %></p>
        <% end %>
      </div> <!-- End of following div -->
      <% end %>
    </div> <!-- End of profile-wrapper div -->

        

    
  
  </div>


  </main>
</body>
</html>
