<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/stylesheets/profile.css">
  <title>Profile</title>
</head>
<body id="profile-body">
  <header id="profile-header">
    <h1 id="title">oKupid</h1>
    <nav>
      <ul>
        <li><a href="#" id="match">Match Me</a></li>
        <li><%= link_to "Profile", user_path(@current_user) %></li>
        <li><%= link_to "Browse", users_path %></li>
        <li><%= link_to "Log Out", "/login", method: :delete %></li>
      </ul>
    </nav>
  </header>
  <main id="profile-main">
    <div id="profile-container">
      <div id="profile-picture">
        <%= image_tag 'rick.png', class:"profile-pic" %>
        <div id="button-div">
          <button id="follow-button"> Follow </button>
        </div>
      </div>  
      <div class="bio">
        <p><b>Name:</b> <%= @current_user.name%></p>
        <p><b>Age:</b> <%= @current_user.age%></p>
        <p><b>Location:</b> <%= @current_user.location%></p>
        <p><b>Bio:</b> <%= @current_user.bio%></p>
      </div>
  </main>
</body>
</html>
